<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="< Your Credential Here >" />
    <add key="ConsumerSecret" value="< Your Credential Here >" />
    <add key="AccessToken" value="< Your Credential Here >" />
    <add key="AccessTokenSecret" value="< Your Credential Here >" />
    <add key="usernameWatson" value="< Your Credential Here >" />
    <add key="passwordWatson" value="< Your Credential Here >" />
  </appSettings>
</configuration>